<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="zone_id" jdbcType="INTEGER" property="zoneId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.qianfeng.entity.Comment">
    <result column="info" jdbcType="VARBINARY" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, zone_id, user_id
  </sql>
  <sql id="Blob_Column_List">
    info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.Comment">
    insert into t_comment (id, zone_id, user_id, 
      info)
    values (#{id,jdbcType=INTEGER}, #{zoneId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{info,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.entity.Comment">
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zoneId != null">
        zone_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zoneId != null">
        #{zoneId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.Comment">
    update t_comment
    <set>
      <if test="zoneId != null">
        zone_id = #{zoneId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qianfeng.entity.Comment">
    update t_comment
    set zone_id = #{zoneId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      info = #{info,jdbcType=VARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.Comment">
    update t_comment
    set zone_id = #{zoneId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>