<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.Goods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.qianfeng.entity.GoodsWithBLOBs">
    <result column="name" jdbcType="VARBINARY" property="name" />
    <result column="goods_info" jdbcType="VARBINARY" property="goodsInfo" />
    <result column="goods_title" jdbcType="VARBINARY" property="goodsTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type
  </sql>
  <sql id="Blob_Column_List">
    name, goods_info, goods_title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.GoodsWithBLOBs">
    insert into t_goods (id, type, name, 
      goods_info, goods_title)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{name,jdbcType=VARBINARY}, 
      #{goodsInfo,jdbcType=VARBINARY}, #{goodsTitle,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.entity.GoodsWithBLOBs">
    insert into t_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="goodsInfo != null">
        goods_info,
      </if>
      <if test="goodsTitle != null">
        goods_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARBINARY},
      </if>
      <if test="goodsInfo != null">
        #{goodsInfo,jdbcType=VARBINARY},
      </if>
      <if test="goodsTitle != null">
        #{goodsTitle,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.GoodsWithBLOBs">
    update t_goods
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARBINARY},
      </if>
      <if test="goodsInfo != null">
        goods_info = #{goodsInfo,jdbcType=VARBINARY},
      </if>
      <if test="goodsTitle != null">
        goods_title = #{goodsTitle,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qianfeng.entity.GoodsWithBLOBs">
    update t_goods
    set type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARBINARY},
      goods_info = #{goodsInfo,jdbcType=VARBINARY},
      goods_title = #{goodsTitle,jdbcType=VARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.Goods">
    update t_goods
    set type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>