<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_color_id" jdbcType="INTEGER" property="goodsColorId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>

  <resultMap id="allInfo" type="com.qianfeng.entity.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_color_id" jdbcType="INTEGER" property="goodsColorId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <association property="goodsColor" column="goods_color_id"

                 select="com.qianfeng.dao.GoodsColorMapper.selectById"
    ></association>
  </resultMap>


  <sql id="Base_Column_List">
    id, goods_color_id, order_id, num
  </sql>

  <select id="selectByOrderId" resultMap="allInfo" parameterType="int">
      SELECT * from t_order_detail WHERE order_id=#{id}


  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.OrderDetail">
    insert into t_order_detail (id, goods_color_id, order_id, 
      num)
    values (#{id,jdbcType=INTEGER}, #{goodsColorId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.entity.OrderDetail">
    insert into t_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsColorId != null">
        goods_color_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="num != null">
        num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsColorId != null">
        #{goodsColorId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.OrderDetail">
    update t_order_detail
    <set>
      <if test="goodsColorId != null">
        goods_color_id = #{goodsColorId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.OrderDetail">
    update t_order_detail
    set goods_color_id = #{goodsColorId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>